.footer-container {
  width: 100%;
  background-color: #314455;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px 60px;
  font-size: 0.8em;

  @media (min-width: 768px) {
    font-size: 1em;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #e27173;

    &:hover {
      color: #e27173;
    }
  }

  .footer-images {
    display: inline-block;
  }

  img {
    display: inline-block;
    margin: 10px 15px;
    max-width: 80px;
    height: auto;

    @media (min-width: 768px) {
      max-width: 120px;
    }
  }
}
