.module-container {
  .module-arrow {

    .only-desktop {
      display: none;
      @media (min-width: 1024px) {
        display: block;
      }
    }

    .only-mobile {
      display: block;
      width: 25px;
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }

  .header-text {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1.header-title {
      font-size: 2em !important;
      text-transform: none;
      @media (min-width: 1024px) {
        font-size: 4em !important;
      }
    }
  }

  .header-button.cta-button {
    position: absolute;
    bottom: 40px;
  }
}
